@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin imgRound($height, $width, $radius) {
  hight: $height;
  width: $width;
  border-radius: $radius;
}

@mixin searchButton {
  height: 50px;
  width: 300px;
  background: #683737c0;
  &:hover {
    cursor: pointer;
  }
}
