.toggleButton {
  margin-left: 1rem;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggleButton:focus {
  outline: none;
}

.toggleButton .toggleButtonLine {
  width: 40px;
  height: 3px;
  border-radius: 1px;
  background: white;
}

.sideDrawer {
  height: 100%;
  background-color: black;
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  overflow: scroll;
}

.sideDrawer .sideDrawerNavLinks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1rem;
}

.sideDrawer .sideDrawerNavLinks .sideDrawerLink {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 2em;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.sideDrawer .sideDrawerNavLinks .sideDrawerLink:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.sideDrawer .sideDrawerNavLinks .sideDrawerLink li:active {
  color: yellowgreen;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

@media (min-width: 600px) {
  .toggleButton {
    display: none;
  }
}

.glassesList {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.glassesListSpecific {
  padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
  .glassesListSpecific:hover {
    color: blue;
    cursor: pointer;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Covered By Your Grace";
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h3 {
  font-family: "Covered By Your Grace";
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

p {
  font-family: "Covered By Your Grace";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

blockquote {
  font-family: "Covered By Your Grace";
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-family: "Covered By Your Grace";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

button {
  font-family: "Covered By Your Grace";
  font-size: 17px;
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  position: relative;
  font-family: "Covered By Your Grace", "serif", "sans-serif";
  font-optical-sizing: auto;
}

.App .main {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid green;
  border: none;
  height: auto;
  clear: top;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9be15d), to(#00e3ae));
  background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}

.navBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282c34;
  min-height: 15vh;
}

.navBlock .logo {
  border: 2px solid yellow;
  border: none;
  min-height: 2rem;
  width: 50%;
  margin-left: 1rem;
}

.navBlock .logo #logo {
  -webkit-animation: fill 0.5s ease forwards 5s;
          animation: fill 0.5s ease forwards 5s;
  height: 10vh;
  width: 90%;
}

.navBlock .logo #logo path:nth-child(2) {
  stroke-dasharray: 532;
  stroke-dashoffset: 532;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.navBlock .logo #logo path:nth-child(3) {
  stroke-dasharray: 366;
  stroke-dashoffset: 366;
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

.navBlock .logo #logo path:nth-child(4) {
  stroke-dasharray: 330;
  stroke-dashoffset: 330;
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

.navBlock .logo #logo path:nth-child(5) {
  stroke-dasharray: 530;
  stroke-dashoffset: 530;
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

.navBlock .logo #logo path:nth-child(6) {
  stroke-dasharray: 426;
  stroke-dashoffset: 426;
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

.navBlock .logo #logo path:nth-child(7) {
  stroke-dasharray: 405;
  stroke-dashoffset: 405;
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

.navBlock .logo #logo path:nth-child(8) {
  stroke-dasharray: 273;
  stroke-dashoffset: 273;
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

.navBlock .logo #logo path:nth-child(9) {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

.navBlock .logo #logo path:nth-child(10) {
  stroke-dasharray: 691;
  stroke-dashoffset: 691;
  -webkit-animation: line-anim 2s ease forwards 2.4s;
          animation: line-anim 2s ease forwards 2.4s;
}

.navBlock .logo #logo path:nth-child(11) {
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
  -webkit-animation: line-anim 2s ease forwards 2.7s;
          animation: line-anim 2s ease forwards 2.7s;
}

.navBlock .logo #logo path:nth-child(12) {
  stroke-dasharray: 534;
  stroke-dashoffset: 534;
  -webkit-animation: line-anim 2s ease forwards 3s;
          animation: line-anim 2s ease forwards 3s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.navBlock .filler {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.navBlock .navLinks {
  display: none;
}

.toTopButton:focus {
  outline: none;
}

.homePage {
  width: 100%;
  min-height: 85vh;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.homePage h1 {
  font-size: 2em;
  line-height: 1.2;
  width: 80%;
}

.homePage h3 {
  font-size: 2em;
  line-height: 1.2;
  width: 80%;
}

.homePage h5 {
  font-size: 2em;
  line-height: 1.2;
  width: 80%;
}

.homePage .homeLinks:hover, .homePage .homeLinks:active, .homePage .homeLinks:focus, .homePage .homeLinks:visited, .homePage .homeLinks:link, .homePage .homeLinks:active {
  text-decoration: none;
}

.homePage .homeLinks:hover {
  color: #858585;
}

.homePage .menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: center;
  align-items: center;
}

.allCocktailsPage .pageLinks {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #282c34;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allCocktailsPage .pageLinks a {
  font-size: 2em;
  font-weight: 500;
  padding: 5px;
  color: white;
}

.allCocktailsPage .pageLinks a:hover, .allCocktailsPage .pageLinks a:active, .allCocktailsPage .pageLinks a:focus, .allCocktailsPage .pageLinks a:visited, .allCocktailsPage .pageLinks a:link, .allCocktailsPage .pageLinks a:active {
  text-decoration: none;
}

.allCocktailsPage .pageLinks a:focus, .allCocktailsPage .pageLinks a:active {
  color: blue;
}

.allCocktailsPage .mainContentGroup .letterGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid yellow;
  border: none;
  padding: 5px;
  padding-top: 4rem;
}

.allCocktailsPage .mainContentGroup .letterGroup p {
  font-size: 2.3em;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.allCocktailsPage .mainContentGroup .letterGroup .allCocktails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup .popupInner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  -ms-flex-negative: 2;
      flex-shrink: 2;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup .popupButton {
  background-color: black;
  height: 50px;
  width: 300px;
  background: #683737c0;
  color: white;
  font-size: 1.5em;
  max-width: 50%;
  border-radius: 0 0 25px 25px;
}

.popup .popupButton:hover {
  cursor: pointer;
}

.popup .popupButton:focus {
  outline: none;
}

.renderOneDetailed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  border: 2px solid grey;
  border-radius: 20px;
  background: white;
  padding-bottom: 20px;
  margin: 0 auto;
}

.renderOneDetailed .link {
  text-align: center;
}

.renderOneDetailed .link:hover, .renderOneDetailed .link:active, .renderOneDetailed .link:focus, .renderOneDetailed .link:visited, .renderOneDetailed .link:link, .renderOneDetailed .link:active {
  text-decoration: none;
}

.renderOneDetailed .link:hover {
  color: #858585;
}

.renderOneDetailed .linkB:hover, .renderOneDetailed .linkB:active, .renderOneDetailed .linkB:focus, .renderOneDetailed .linkB:visited, .renderOneDetailed .linkB:link, .renderOneDetailed .linkB:active {
  text-decoration: none;
}

.renderOneDetailed .linkB:hover {
  color: #1d1d1d;
}

.renderOneDetailed h4 {
  color: black;
  font-size: 2em;
}

.renderOneDetailed p {
  color: black;
  font-size: 2em;
}

.renderOneDetailed .imgLarge {
  hight: 150px;
  width: 150px;
  border-radius: 25px;
}

.renderOneDetailed table {
  width: 80%;
  border: 2px solid black;
  font-size: 2em;
  border-radius: 20px;
}

.renderOneDetailed table thead {
  height: 100px;
  background-color: grey;
  border: 2px solid yellow;
}

.renderOneDetailed table thead #thleft {
  border-top-left-radius: 20px;
}

.renderOneDetailed table thead #thright {
  border-top-right-radius: 20px;
}

.renderOneDetailed table tbody {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.renderOneDetailed table tbody td {
  width: 50%;
}

.renderOneDetailed table tfoot {
  background: grey;
}

.renderOneDetailed table tfoot #tf {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.renderOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid black;
  -webkit-box-shadow: 0px 5px 20px black;
          box-shadow: 0px 5px 20px black;
  border-radius: 7px;
  height: 100px;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
  background: white;
}

.renderOne .imgSmall {
  hight: 80px;
  width: 80px;
  border-radius: 40px;
}

.renderFetchChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.renderFetchChoice .fetchChoice {
  color: black;
  font-size: 2em;
  padding: 1.2em;
}

.renderFetchChoice .fetchChoiceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.randomCoctail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
}

.randomCoctail .searchButtonTop {
  height: 50px;
  width: 300px;
  background: #683737c0;
  font-size: 1.5em;
  max-width: 75%;
  border-radius: 25px 25px 0 0;
}

.randomCoctail .searchButtonTop:hover {
  cursor: pointer;
}

.randomCoctail .searchButtonTop:focus {
  outline: none;
}

.randomCoctail .searchButtonBottom {
  height: 50px;
  width: 300px;
  background: #683737c0;
  font-size: 1.5em;
  max-width: 75%;
  border-radius: 0 0 25px 25px;
}

.randomCoctail .searchButtonBottom:hover {
  cursor: pointer;
}

.randomCoctail .searchButtonBottom:focus {
  outline: none;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 85vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search .searchLink:hover, .search .searchLink:active, .search .searchLink:focus, .search .searchLink:visited, .search .searchLink:link, .search .searchLink:active {
  text-decoration: none;
}

.search .searchLink .searchChoiceLink {
  font-size: 2em;
  padding: 2em;
}

.searchChoice {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchChoice .searchForm {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  font-family: "Covered By Your Grace";
  padding: 2em;
}

.searchChoice .searchForm input {
  font-family: "Covered By Your Grace";
  font-size: 2em;
  height: 2.5em;
  width: 60%;
  min-width: 200px;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255, 0);
}

.searchChoice .searchForm input:focus {
  outline: none;
}

.searchChoice .searchForm button {
  margin-top: 1rem;
  min-height: 2em;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
}

.searchChoice .searchForm button:focus {
  cursor: pointer;
  outline: none;
}

.searchChoice .searchResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about {
  min-height: 85vh;
  padding: 2em;
  font-size: 1.2em;
  text-align: left;
}

@media (min-width: 600px) {
  .App {
    min-width: 100vh;
    height: 200px;
    font-family: "Covered By Your Grace", "serif", "sans-serif";
    font-optical-sizing: auto;
  }
  .navBlock {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navBlock .logo {
    min-height: 10vh;
    width: 25%;
  }
  .navBlock .filler {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navBlock .navLinks {
    display: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid blue;
    border: none;
    width: 75%;
    font-size: 2em;
  }
  .navBlock .navLinks .link {
    padding: 10px;
    color: white;
  }
  .navBlock .navLinks .link:hover, .navBlock .navLinks .link:active, .navBlock .navLinks .link:focus, .navBlock .navLinks .link:visited, .navBlock .navLinks .link:link, .navBlock .navLinks .link:active {
    text-decoration: none;
  }
  .navBlock .navLinks .link:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
  }
  .navBlock .navLinks .link li:active {
    color: yellowgreen;
  }
  .allCocktailsPage .pageLinks a {
    padding: 10px;
  }
  .allCocktailsPage .pageLinks a:hover {
    color: #64638f;
  }
  .popup .popupInner h4 {
    padding-top: 1rem;
  }
  .renderOneDetailed {
    width: 70%;
    height: auto;
    padding-bottom: 20px;
  }
  .renderOneDetailed table {
    width: 90%;
    height: auto;
  }
  .renderOneDetailed table thead {
    height: 100px;
    background-color: grey;
    border: 2px solid yellow;
  }
  .renderOne:hover {
    background: #858585;
    cursor: pointer;
  }
  .search .searchLink .searchChoiceLink:hover {
    color: #858585;
  }
  .searchChoice .searchForm button:hover {
    color: #858585;
  }
}
/*# sourceMappingURL=style.css.map */