@import "./_variables";

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Covered By Your Grace";
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}
h3 {
  font-family: "Covered By Your Grace";
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}
p {
  font-family: "Covered By Your Grace";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
blockquote {
  font-family: "Covered By Your Grace";
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-family: "Covered By Your Grace";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  min-width: 100vh;
  height: 200px;
  font-family: "Covered By Your Grace", "serif", "sans-serif";
  font-optical-sizing: auto;
  .logo {
    border: 2px solid yellow;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 10vh;
    width: 25%;
    @include logo;
  }
  .main {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 100px;
    border: 2px solid green;
    border: none;
    min-height: 90vh;
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
  }
}

.navLinks {
  @include flexCenter(row);
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid blue;
  border: none;
  width: 75%;
  position: absolute;
  top: -100px;
  right: 0px;
  min-height: 100px;
  font-size: 2em;
  .link {
    padding: 10px;
    color: white;
    @include textDecorationNone;
    &:hover {
      background-color: white;
      color: black;
      border-radius: 10px;
    }

    li {
      &:active {
        color: yellowgreen;
      }
    }
  }
}

.homePage {
  @include flexCenter(column);
  height: 80vh;
  justify-content: space-around;

  h1 {
    font-size: 2em;
    line-height: 1.2;
    width: 80%;
  }
  h3 {
    font-size: 2em;
    line-height: 1.2;
    width: 80%;
  }

  h5 {
    font-size: 2em;
    line-height: 1.2;
    width: 80%;
  }
  .homeLinks {
    @include textDecorationNone;
  }
}

.allCocktailsPage {
  .pageLinks {
    position: sticky;
    top: 0;
    background: #282c34;
    padding-bottom: 0px;
    @include flexCenter(row);
    flex-wrap: wrap;
    a {
      font-size: 2em;
      font-weight: 500;
      padding: 10px;
      color: white;
      @include textDecorationNone;
      &:focus {
        color: blue;
      }
      &:hover {
        color: rgb(100, 99, 143);
      }
    }
  }
  .mainContentGroup {
    .letterGroup {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      box-sizing: border-box;
      border: 2px solid yellow;
      border: none;
      padding: 5px;
      p {
        font-size: 1.8em;
        font-weight: 600;
        padding-bottom: 20px;
      }
      .allCocktails {
        @include flexCenter(row);
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        border: 2px solid green;
        border: none;
      }
    }
  }
}

.popup {
  border: 2px solid blue;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .popup\_inner {
    border: 2px solid blue;
    position: absolute;
    width: 80vh;
    height: 80%;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
    button {
      padding: 5px;
    }
  }
}

.renderOneDetailed {
  @include flexCenter(column);
  width: 90vh;
  border: 2px solid grey;
  border-radius: 20px;
  background: white;
  h4 {
    color: black;
    font-size: 2em;
  }
  p {
    color: black;
    font-size: 2em;
  }
  .imgLarge {
    @include imgRound(150px, 150px, 25px);
  }
  table {
    width: 80vh;
    border: 2px solid black;
    font-size: 2em;
    border-radius: 20px;
    .tableLink {
      @include textDecorationNone;
    }
    thead {
      height: 100px;
      background-color: grey;
      border: 2px solid yellow;
      #thleft {
        border-top-left-radius: 20px;
      }
      #thright {
        border-top-right-radius: 20px;
      }
    }
    tbody {
      background-color: white;
      border: 2px solid black;
      color: black;
      td {
        width: 50%;
      }
    }
    tfoot {
      background: grey;
      #tf {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
}

.renderOne {
  @include flexCenter(row);
  box-sizing: border-box;
  border: 3px solid black;
  box-shadow: 0px 5px 20px black;
  border-radius: 7px;
  height: 100px;
  width: 300px;
  justify-content: space-around;
  margin: 10px;
  background: white;
  .imgSmall {
    @include imgRound(80px, 80px, 40px);
  }
  &:hover {
    background: rgba($color: #858585, $alpha: 1);
    cursor: context-menu;
  }
}

.renderFetchChoice {
  @include flexCenter(column);
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  .fetchChoice {
    color: black;
    font-size: 2em;
  }

  .fetchChoiceList {
    @include flexCenter(row);
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
}

.randomCoctail {
  @include flexCenter(column);
  padding-top: 20px;
  .searchButtonTop {
    @include searchButton;
    &:focus {
      outline: none;
    }
    border-radius: 25px 25px 0 0;
  }
  .mainContent {
  }
  .searchButtonBottom {
    @include searchButton;
    &:focus {
      outline: none;
    }
    border-radius: 0 0 25px 25px;
  }
}
